$primary-color: #4285F4;
$primary-color-lighten: rgba($primary-color, .50);

$secondary-color: #FF7373;

$default-color: #979797;
$default-color-lighten: rgba($default-color, .50);

$font-sm: 13px;
$font-md: 18px;
$font-lg: 25px;
$font-xl: 30px;

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  font-family: Graphik;
  font-size: $font-md;
  line-height: $font-md;
  background-color: #fff;
  color: #484848;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding: 16px;
}

.input {
  border-radius: 5px;
  border: 1px solid #CCD6D8;
  padding: 18px 20px;
  font-size: $font-md;
  line-height: $font-md;
  background-color: #fff;
  color: #484848;
  transition: box-shadow .15s;
  width: 100%;
}
.input:focus {
  box-shadow: 0 0 5px $primary-color-lighten;
  border: 1px solid $primary-color-lighten;
  border-radius: 5px;
  outline: none;

}
.input::placeholder{
  color: $default-color-lighten;
}

.form-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  grid-gap: 30px 20px;
  margin-bottom: 40px;
}
.form-wrap--flexible {
  grid-template-columns: 460px 220px 121px;
}
@media (max-width: 950px) {
  .form-wrap {
    grid-template-columns: 1fr;
  }
  .form-wrap--flexible {
    grid-template-columns: 1fr 121px;
    grid-template-areas:
            "a a"
            "b c";
  }
  .input-wrap--address {
    grid-area: a;
  }
  .input-wrap--price {
    grid-area: b;
  }
  .input-wrap--price-caption {
    grid-area: c;
  }
}
.step-title {
  display: inline-block;
  border-bottom: 5px solid $primary-color;
  padding-bottom: 2px;
  margin-bottom: 30px;
}
.input-wrap {
  position: relative;
}
.input-name {
  display: block;
  margin-bottom: 5px;
}
.form-title {
  font-size: $font-lg;
  margin-bottom: 15px;
}
.input-help {
  bottom: 100%;
  font-size: $font-sm;
  line-height: $font-sm;
  float: right;
  color: #979797;
  margin-top: 4px;
  margin-bottom: 4px;
}
.step__button {
  margin-top: 50px;
}
.button {
  @include flexCenter();
  width: 220px;
  height: 55px;
  background-color: $primary-color-lighten;
  border-radius: 4px;
  border: 0;
  font-size: $font-md;
  line-height: $font-lg;
  margin-left: auto;
  color: #fff;
}
.file-form-wrap__main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.file-form-wrap__desc {
  max-width: 440px;
}
.file-inputs-wrap {
  max-width: 440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}
.file-label {
  background: #FFFFFF;
  border: 1px solid #5491F5;
  border-radius: 5px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #5491F5;
  min-height: 60px;
  display: inline-block;
  padding: 4px;
}
.file-label:before {
  content: '+';
  display: block;
  text-align: center;
  font-size: $font-xl;
  line-height: 30px
}
.file-form-wrap__caption {
  margin-left: 20px;
  width: 220px;
}
.form-wrap__caption {
  margin-top: auto;
}
.caption {
  font-size: $font-sm;
  line-height: 14px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.d-inline {
  display: inline-block;
}
.d-block {
  display: block;
}
.nowrap {
  white-space: nowrap;
}
@import 'reset.css';
@import 'suggestions.scss';