

$primary-color: #4285F4;
$primary-color-lighten: rgba($primary-color, .50);
$secondary-color: #FF7373;

.page {
  font-family: Graphik, ;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
  color: #484848;
  max-width: 676px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding: 16px;
}
input {
  border-radius: 5px;
  border: 1px solid #CCD6D8;
  padding: 18px 20px;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
  color: #484848;
  transition: box-shadow .15s;
  width: 100%;
}
input:focus {
  box-shadow: 0 0 5px $primary-color-lighten;
  border: 1px solid $primary-color-lighten;
  border-radius: 5px;
  outline: none;

}
.form-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  grid-gap: 30px 20px;
  margin-bottom: 40px;
}
@media (max-width: 750px) {
  .form-wrap {
    grid-template-columns: 1fr;
  }
}
.step-title {
  display: inline-block;
  border-bottom: 5px solid $primary-color;
  padding-bottom: 2px;
  margin-bottom: 30px;
}
.input-wrap {
}
.input-name {
  display: block;
  margin-bottom: 5px;
}
.form-title {
  font-size: 25px;
  //line-height: 25px;
  margin-bottom: 15px;
}
.button {
  width: 220px;
  height: 55px;
  background-color: $primary-color-lighten;
  border-radius: 4px;
  border: 0;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  color: #fff;
}
@import 'reset.css';